@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  color: $yellow;
  background: $violet;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1rem;
  min-height: 100vh;
  background-color: rgb(59, 56, 56);

  .text-center {
    text-transform: uppercase;
  }

  .card-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .card {
      background-color: red;
      height: 15vh;
    }
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .input-group {
      width: 90%;

      input,
      button {
        font-size: 1rem;
      }
    }


    @media(min-width: 900px) {
      .input-group {
        width: 70%;

        .btn {
          width: 150px;
          text-transform: uppercase;
        }

        input,
        button {
          font-size: 2rem;
        }

        input {
          text-align: center;
        }
      }
    }
  }

  .card {
    font-size: 1.4rem;
  }
}